<div>
  <!--<h4>Hi {{currentUser.firstName}}! &nbsp;&nbsp;&nbsp;&nbsp;<a [routerLink]="['/login']">Logout</a></h4>-->
  <!--<mat-list>-->
    <!--<mat-list-item *ngFor="let user of users">-->
      <!--<div class="col-xs-2">-->
        <!--{{user.id}}-->
      <!--</div>-->
      <!--<div class="col-xs-3">-->
        <!--{{user.username}}-->
      <!--</div>-->
      <!--<div class="col-xs-4">-->
        <!--{{user.firstName}} {{user.lastName}}-->
      <!--</div>-->
      <!--<div class="col-xs-2">-->
        <!--<a (click)="deleteUser(user.id)">Delete</a>-->
      <!--</div>-->
    <!--</mat-list-item>-->
  <!--</mat-list>-->
  <h3>Main Search</h3>
  <app-main-search></app-main-search>
  <hr>
  <h3>List Item</h3>
  <app-list-item></app-list-item>
  <h3>Banner Slider</h3>
  <app-banner-slider></app-banner-slider>
</div>
