<div id="banner-slider-wrapper">
  <mat-card class="main-image">
    <div class="arrows left-arrow">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </div>
    <div class="arrows right-arrow">
      <mat-icon>keyboard_arrow_right</mat-icon>
    </div>
  </mat-card>
  <div class="slider">
    <mat-card class="thumb col-xs-3"></mat-card>
    <mat-card class="thumb col-xs-3 active"></mat-card>
    <mat-card class="thumb col-xs-3"></mat-card>
    <mat-card class="thumb col-xs-3"></mat-card>
  </div>
</div>
